.register-container {
    background: url('https://assignment3react.s3.us-east-2.amazonaws.com/appBackground.jpeg') no-repeat center center fixed, #ff8360;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
}
.form-control {
    width: 90%;  /* Responsive width */
    padding: 15px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;  /* Rounded borders */
    box-sizing: border-box;
}

.register-button {
    width: 90%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #45a049;
}
.form-control:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
